/* НЕ ГЛОБАЛЬНЫЙ, ПЕРЕДЕЛАТЬ */
.text {
  padding-top: 8px;
}


/* Глобальное - Глобальное - Глобальное - Глобальное - Глобальное - Глобальное*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}


.body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);

  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  background-color: #f2f2f2;

  box-sizing: border-box;
}

.wrapper-center {
  max-width: 1200px;
  margin: auto;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;

}

.link {
  text-decoration: none;
  color: #000000;
}

/* Шапка - Шапка - Шапка - Шапка - Шапка - Шапка - Шапка - Шапка */

.header {
  font-weight: bold;
position: relative;
}

.header__nav:hover,
.header__nav:focus {
color: #81b3d2;
outline: none;
}

.header__nav:active {
color: rgba(0, 0, 0, 0.3);
}

.header__nav--first {
width: 23%;   
text-align: left;

}

.header__nav--second {
text-align: left;
width: 27%;
}

.header__nav--third {
text-align: right;
width: 27%;
}

.header__nav--fourth {
text-align: right;
width: 23%;
}

.nav_item {
margin-top: 14px;
margin-bottom: 15px;
}

.header__nav--wrap {
width: 1056px;  
display: flex;
flex-wrap: wrap;
margin-right: auto;
margin-left: auto;


}

.header__logo {
position: absolute;
left: 50%;
top: 0;
transform: translateX(-50%);
z-index: 1;
}

/* welcome - welcome - welcome - welcome - welcome - welcome - welcome - welcome - welcome - welcome */

.welcome {
  height: 510px;
  width: auto;
  background-color:#435152;
  background-image: url(../img/intro-mask.svg), url(../img/welcome.png), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: auto, 39, 5%, cover;
  background-position: center 453px, center 76px, center -55px;
}




/* Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск - Поиск */




.title--big {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 22px;
}

.search {
  min-height: 716px;
  position: relative;
  box-sizing: border-box;
  padding-top:20px ;
}

.search__text{
 
  margin-top: 0;
  padding-top: 0;
  
}

.search__button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #766357;
  color: #ffffff;
  border: none;
  margin-top: 31px;

  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.search__button:hover,
.search__button:focus,
.button:hover,
.button:focus {
  background-color: #604e43;
  outline: none;
}


.search__button:active,
.button:active {
  color: rgba(255, 255, 255, 0.2);
  background-color: #503e33;
}

.search__map {
  width: 1200px;
  height: 594px;
  
  background-image: url(../img/map.jpg);
}


/* Модалка - Модалка - Модалка - Модалка - Модалка - Модалка - Модалка - Модалка - Модалка */

.modal {
  width: 568px;
  min-height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 289px;
  transform: translateX(-50%);
}

.modal__form {
  width: 458px;
  
  margin-right: auto;
  margin-left: auto;
  margin-top: 55px;
  margin-bottom: 55px;
  position: relative;
  


}

.modal__item--wrap{
  display: flex;
  min-height: 175px; 
  flex-direction: column;
  justify-content: space-between;
  
}

.modal__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: relative;
}

.modal__calendar-checkin {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 7px;
  right: 6px;
}


.modal__calendar-checkout {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 75px;
  right: 6px;

}

.modal__calendar-checkin path,
.modal__calendar-checkout path {
  fill: #a9a9a9;
}


.modal__input {
  width: 346px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  /* width: 100%; */
  
  padding-right: 30px;
  padding-left: 12px;


}

.modal__calendar{
  background-image: url("../img/calendar.svg");
  background-position: 318px center;
  background-repeat: no-repeat;
  
}

.modal__input--small {
  width: 38px;
  height: 40px;
  text-align: center;
  border: none;
}

.modal__count {
  display: flex;
  width: 116px;

}


.button__count {
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  height: 40px;
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
}

.modal__button {
  width: 458px;
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  margin-top: 53px; 
}

.modal__button:hover,
.modal__button:focus,
.button--blue:hover,
.button--blue:focus {
  background-color: #669ec0;
}

.modal__button:active,
.button--blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


/* Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр - Фильтр */

.filter {
  background-color: #5496bd;
  background-image: url(../img/filter-background.jpg);
  color: #ffffff;
  text-align: left;
  /* временно */
  min-height: 217px;
  position: relative;
}

.filter__wrap {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  

}

.filter__legend {
  font-size: 16px;
  font-weight: bold;
  padding-left: 38px;
}

.filter__fieldset {
  border: none;
  
  width: 206px;
  min-height: 150px;
  
  margin-top: 25px;
  margin-left: 25px;
}

.filter__checkbox {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  margin-left: -40px;
  cursor: pointer;
}

.filter__item {
  margin-top: 15px;
  margin-bottom: 20px;
}

.filter__check {
  padding-left: 78px;
  cursor: pointer;
}

.filter__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  
}

.filter__checkbox-input:checked+.filter__checkbox {
  background-image: url(../img/checkbox-on.svg);
}

.filter__checkbox-input:disabled+.filter__checkbox {
  background-image: url(../img/checkbox-off-dis.svg);
}

.filter__checkbox-input:disabled:checked+.filter__checkbox {
  background-image: url(../img/checkbox-on-dis.svg);
}

.filter__checkbox-input:focus ~ .filter__text{
  color:rgba(255, 255, 255, 0.8);
  }



.filter__input {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;

}

.filter__fieldset--last {
  width: 320px;
  margin-left: auto;
  margin-right: 60px;
}

.filter__price {
  position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter__price-label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.filter__price-input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter__price-label--min,
.filter__price-label--max {
  width: 90px;
  padding-left: 65px;
}

.filter__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter__bar{
  width: 80%;
  height: 2px;

  background: #ffffff;

}

.filter__range{
position: relative;
}

.filter__toggle{
  width: 4px;
  height: 4px;
  
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.filter__togle--min{
  left: 0;
}

.filter__togle--max{
  left: 80%;
} 

.filter__toggle:hover {
  background: #1c4f80;
}

.filter__legend--range{
  padding-left: 0;
  font-size: 16px;
  font-weight: bold; 
}

.filter__button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 136px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  bottom: 32px;
  right: 169px;
  display: block;
}

.filter__button:hover {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}



/* Сортировка - Сортировка - Сортировка - Сортировка - Сортировка - Сортировка - Сортировка - Сортировка - Сортировка */


.sort__link {
  min-width: 75px;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:focus {
  color: #81b3d2;
  border-bottom: none;

}

.sort__link:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:active {
  font-size: 12px;
  border-bottom: none;
  color: #000000;
}

.sort__wrap {
  display: flex;
  min-height: 85px;
  /* отступ временный, потом с иконками и ПП исправить */
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1056px;

}

.sort__left {
  display: flex;
  align-items: baseline;
  width: 518px;

  justify-content: space-between;
}

.sort__right {
  width: 34px;
  height: 11px;
  display: flex;
  justify-content: space-between;
}

.sort__right-up:active path,
.sort__right-down:active path,
.sort__right-up:focus path,
.sort__right-down:focus path,
.sort__right-up:hover path,
.sort__right-down:hover path{
  fill: #81b3d2;  
}

.sort__right-up:disabled{
  fill: #cacaca;
}


.sort__text {

  font-size: 12px;

}

.sort__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 238px;
}





/* Преимущества - Преимущества - Преимущества - Преимущества - Преимущества - Преимущества - Преимущества - Преимущества */

.advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

.advantages__text {
  width: 490px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

.advantages__title {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  line-height: 21px;
}


.advantages__item-img {
  display: flex;
  margin-top: 36px;

}

.advantages__list-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantages__list {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  text-align: center;

}

.advantages__tricks {
  position: relative;
  margin-top: 130px;
  margin-bottom: 28px;


}

.advantages__item {
  display: block;
  width: 400px;
  min-height: 256px;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding-top: 50px;
}

.advantages__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__content {
  box-sizing: border-box;

  width: 282px;
  margin-left: auto;
  margin-right: auto;

  line-height: 21px;

}

.advantages__content--small {
  width: 262px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__content--big {
  padding-top: 5px;
  width: 303px;
  margin-left: auto;
  margin-right: auto;
  line-height: 21px;
}

.advantages__tricks::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  top: -69px;
  left: 109px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.advantages__tricks:first-child::before {
  background-image: url("../img/icon-1.svg");
  top: -70px;
  left: 107px;
}

.advantages__tricks:last-child::before {
  background-image: url("../img/icon-2.svg");
  top: -74px;
  left: 114px;
}

.advantages__item {
  min-height: 256px;
  padding: 0;
}


/* Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал - Подвал */

.footer {
  min-height: 122px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.footer__first {
  box-sizing: border-box;
  display: flex;
  width: 240px;
  padding-left: 38px;
}

.footer__second {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.footer__third {
  width: 240px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__index {
  position: absolute;
  width: 1200px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9)
}

.button__social {
  display: flex;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  align-items: center;
  justify-content: center;

}

.button__social:hover,
.button__social:focus {
  background-color: #5496bd;
}


.button__social:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
}


.link__academy {
  display: flex;
  width: 127px;
  height: 41px;

  align-items: center;
  justify-content: center;
}

.link__academy:hover path,
.link__academy:focus path {
  fill: #81b3d2;
}

.link__academy:active path {
  fill: #bdbbbc;
}



/* Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы - Гостиницы */


.hotels__list {
  box-sizing: border-box;

}

.hotel__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  min-height: 90px;
  margin-left: 31px;
  text-align: left;
  
}

.hotel__text1 {
  width: 110px;
  padding-bottom: 10px;
  
}

.hotel__text2 {
  width: 142px;
  padding-bottom: 5px;

}

.hotel__title {
  margin: 0;
  
  
}

.hotel__text--wrap {
  display: flex;
  justify-content: space-between;
 
  padding-top: 0;
}

.hotel__wrap {
  box-sizing: border-box;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.hotel__wrap--first {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 29px;
}

.hotels__stars {
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.hotels__rating {
  background-color: #f2f2f2;
  border: none;
  color: #666666;
  margin: 0;
}

.hotels__rating--wrap {
  flex-direction: column;
  display: flex;
  width: 110px;
  margin-left: auto;
  justify-content: space-between;
}

.sort__right-up:active path,
.sort__right-down:active path {
  fill: #81b3d2;
}

.hotels__stars--none path{
 fill:white;
}

.button__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  justify-content: space-between;
  height: 27px;
}


.button {
  display: block;
  width: 142px;

  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #766357;
}

.button--blue {
  width: 110px;
  background-color: #81b3d2;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
}