.body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);

  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  background-color: #f2f2f2;

}

.wrapper-center {
  max-width: 1200px;
  margin: auto;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  font-weight: bold;
  position: relative;
}

.header__nav:hover,
.header__nav:focus {
  color: #81b3d2;
  outline: none;
}

.header__nav:active {
  color: rgba(0, 0, 0, 0.3);
}



.header__nav {
  /* width: 263px; */
  box-sizing: border-box;



}

.header__nav--first {
  padding-right: 60px;
}

.header__nav--second {
  padding-right: 175px;
}

.header__nav--third {
  padding-left: 180px;
  font-stretch: extra-expanded;
}

.header__nav--fourth {
  padding-left: 79px;
}

.nav_item {
  width: 25%;
  margin-top: 14px;
  margin-bottom: 10px;
}

.header__nav--wrap {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}





.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.welcome {
  height: 510px;
  width: auto;
  background-color: burlywood;
  background-image: url(../img/intro-mask.svg), url(../img/welcome.png), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: auto, 39, 5%, cover;
  background-position: center 453px, center 76px, center -55px;
}

.title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;

}

.text {
  padding-top: 8px;
}


.advantages__item {
  display: block;
  width: 400px;
  min-height: 256px;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding-top: 50px;
}

.advantages__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.title--big {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}


.search__button {
  width: 568px;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #766357;
  color: #ffffff;
  border: none;


  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.search__button:hover,
.search__button:focus,
.button:hover,
.button:focus {
  background-color: #604e43;
  outline: none;
}


.search__button:active,
.button:active {
  color: rgba(255, 255, 255, 0.2);
  background-color: #503e33;
}

.search__map {
  width: 1200px;
  height: 472px;
  background-image: url(../img/map.jpg);
}

.modal {
  width: 568px;
  min-height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  font-weight: bold;
}

.modal__input {
  width: 346px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

}

.modal__input--small {
  width: 38px;
  text-align: center;

}

.button__count {
  background-color: #f2f2f2;
  border: none;
  width: 39px;
  height: 39px;

}

.modal__button {
  width: 458px;
  padding-top: 17px;
  padding-bottom: 22px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.modal__button:hover,
.modal__button:focus,
.button--blue:hover,
.button--blue:focus {
  background-color: #669ec0;
}

.modal__button:active,
.button--blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filter {
  background-color: #5496bd;
  background-image: url(../img/filter-background.jpg);
  color: #ffffff;
  text-align: left;


}

.filter__wrap {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.filter__fieldset--last {
  margin-left: auto;
}

.filter__legend {
  font-size: 16px;
  font-weight: bold;
}

.filter__fieldset {
  border: none;
  /* падинг из головы, сейчас просто чтобы блоки раскидать */
  padding-left: 30px;
}

.filter__input {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;

}

.filter__button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 133px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-transform: uppercase;
}

.filter__button:hover {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.button {
  display: block;
  width: 142px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #766357;
}

.button--blue {
  width: 110px;
  background-color: #81b3d2;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7px;
}


.hotels__rating {
  width: 110px;
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: #f2f2f2;
  border: none;
  color: #666666;
}

.sort__link {
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:focus {
  color: #81b3d2;
  border-bottom: none;

}

.sort__link:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:active {
  font-size: 12px;
  border-bottom: none;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}



.advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

.advantages__text {
  width: 490px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

.advantages__title {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  line-height: 23px;
}


.advantages__item-img {
  display: flex;
  margin-top: 36px;
}

.advantages__list-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantages__list {
  /* отступ временный, потом с иконками и ПП исправить */
  margin: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  text-align: center;

}

.advantages__tricks {
  position: relative;
  margin-top: 130px;

}

.advantages__tricks::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  top: -69px;
  left: 109px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.advantages__tricks:first-child::before {
  background-image: url("../img/icon-1.svg");
  top: -70px;
  left: 107px;
}

.advantages__tricks:last-child::before {
  background-image: url("../img/icon-2.svg");
  top: -74px;
  left: 114px;
}

.advantages__item {
  min-height: 256px;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__list {
  display: flex;
  justify-content: space-around;
}

.footer__first{
 width: 240px;
}

.footer__second{
width: 150px;
display: flex;
}

.footer__third{
  width: 240px;
}

.sort__wrap {
  display: flex;

  /* отступ временный, потом с иконками и ПП исправить */
  padding-left: 20px;

}


.sort {
  padding-left: 20px;
}

.sort__list {
  display: flex;
  align-items: center;
  /* отступ временный, потом с иконками и ПП исправить */
  justify-content: space-around;
  width: 300px;
}

.button__wrap {
  display: flex;
  width: 258px;
  justify-content: space-between;
}

.hotel__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  max-height: 90px;
  margin-left: 31px;
  text-align: left;
}

.hotel__text1 {
  width: 110px;
  padding-bottom: 5px;
}

.hotel__text2 {
  width: 142px;
  padding-bottom: 5px;

}

.hotel__title {
  margin: 0;
  padding-bottom: 5px;
}

.hotel__text--wrap {
  display: flex;
  justify-content: space-between
}

.hotel__wrap {
  display: flex;
  justify-content: flex-start;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 31px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.hotel__wrap--first {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.filter__wrap {
  padding-top: 20px;
  display: flex;

}

.hotels__rating--wrap {
  margin-left: auto;
}
